<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="videoBox"></div>

    <script defer type="text/javascript" src="/scripts/socket.io.js"></script>
    <script defer type="text/javascript" src="/scripts/peerjs.min.js"></script>
    <script defer type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
